body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Link {
  text-decoration: none;
  cursor: pointer;
}

nav > ul {
  display: flex;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  background-color: white;
  padding: 10px 0;
  /* border-bottom: 3px solid #9069cd; */
}

input {
  outline: none;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="file"] {
  cursor: pointer;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 25px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #489e58;
}
h4 {
  font-size: 12px;
  font-weight: bold;
}
/* HEADER ************************** HEADER ******************************/

.header {
  background-color: white;
}

.logo {
  width: 300px;
  height: auto;
}

.publish-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  color: #9069cd;
  height: 34px;
  width: 204px;
  border: solid;
  border-radius: 25px;
  background-color: "white";
}

.logIn-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  height: 42px;
  width: 212px;
  border-radius: 25px;
  background-color: #9069cd;
}
.logIn-button:hover {
  background-color: #a38acd;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  background-color: white;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: white;
}

.header-left > li {
  margin-right: 30px;
}
.wave-container {
  width: 100%;
  height: 100%;
  background-image: url(./assets/image/backgroundTop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-top: 3px solid #9069cd;
}

/* SEARCH ************************** SEARCH ******************************/

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 720px;
  border-radius: 25px;
  background-color: white;
}

.search-bar input[type="text"] {
  height: 44px;
  width: 670px;
  border: none;
  background-color: #f4f6f7;
  padding-left: 15px;
  border-radius: 25px;
}

.search-input {
  /* position: relative; */
  display: inline-block;
}

/* .search-bar form div {
  position: "relative";
  display: "inline-block";
} */

.form-search-icon {
  color: white;
}

/* .form-search ::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #81a08f;
  font-size: 30px;
} */
.button-search {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  background-color: #9069cd;
  padding-bottom: 4px;
}
/* ETABLISSEMENTS ************************** ETABLISSEMENTS ******************************/

.card {
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
  width: 345px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.picture {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 228px;
  width: 345px;
}

.picture img {
  display: flex;
  width: 345px;
  height: 228px;
  object-fit: cover;
  border-radius: 5px;
}

.card-infos {
  padding: 10px 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

/* ETABLISSEMENT ************************** ETABLISSEMENT ******************************/

.title {
  width: 100%;
  background-color: #9069cd;
  overflow: cover;
  margin: 10px;
  padding: 10px;
}

.map {
  /* background-color: lawngreen; */
  width: 1024px;
  height: 300px;
  padding-top: 41px;
}

.leaflet-container {
  /* background-color: lawngreen; */
  width: 1024px;
  height: 300px;
  border-radius: 5px;
}
.establishment-container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: auto;
  align-items: center;
}
.popup {
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: cover;
  font-size: 13px;
}
.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41px;
}
.img-gallery img {
  background-color: "blue";
  height: 300px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  object-fit: cover;
}
/* PUBLISH ************************** PUBLISH ******************************/

.publish-card {
  width: 30%;
  margin: 60px auto;
  padding: 30px 200px;
  background-color: white;
}

.publish-card .title {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid #489e58;
}

.publish-card form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.publish-card input:not([type="file"]) {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #d9e0eb;
  margin-bottom: 20px;
  padding-left: 15px;
}

.publish-card form input[type="submit"] {
  background-color: #9069cd;
  color: white;
  font-weight: 700;
}

.publish-card form input[type="file"] {
  margin-bottom: 20px;
}

.publish-card form input[type="number"] {
  width: 30%;
}

.publish-card p {
  font-weight: 700;
  font-size: 13px;
}
/* SIGNUP ************************** SIGNUP ******************************/

.signup-container {
  height: 220px;
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 60px;
  margin: 40px auto;
  border: solid;
  border-color: #9069cd;
  border-radius: 10px;
}
/* LOGIN ************************** LOGIN ******************************/

.login-card {
  height: 120px;
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 80px;
  margin: 40px auto;
  border: solid;
  border-color: #9069cd;
  border-radius: 10px;
}
